---
const currentYear = new Date().getFullYear();
const copyright = `2018–${currentYear}`;
---

<footer class="footer">
  <div class="container is-max-widescreen level">
    <div class="level-left">
      <div class="level-item">
        <p>Find us on social media!</p>
        <a
          href="https://discord.com/invite/UqQh3zPBrV"
          target="_blank"
          rel="noreferrer"
        >
          <img
            class="footer-img"
            src={`/images/discord-mark-blue.png`}
            alt="Join us on Discord!"
          />
        </a>
        <a
          href="https://www.youtube.com/@siba_aisn"
          target="_blank"
          rel="noreferrer"
        >
          <img
            class="footer-img"
            src={`/images/youtube_social_icon_red.png`}
            alt="Follow our YouTube Channel!"
          />
        </a>
        <a
          href="https://twitter.com/SIBA_AveryINC"
          target="_blank"
          rel="noreferrer"
        >
          <img
            class="footer-img"
            src={`/images/Twitter_Logo_Blue.svg`}
            alt="Follow us on Twitter!"
          />
        </a>
      </div>
    </div>
    <div class="level-left">
      <p class="level-item is-size-7">
        &copy; {copyright} Avery Incorporated
      </p>
    </div>
  </div>
</footer>
