@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Secular+One&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");

$primary: #3260a4;
$family-sans-serif: "Maven Pro", sans-serif;
$family-secondary: "Secular One", sans-serif;
$navbar-height: 6rem;
$navbar-item-img-max-height: none;
$footer-padding: 1.5rem;

@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/mixins.sass";

html {
  position: relative;
  min-height: 100%;
}

.card {
  border: 1px solid $grey-lighter;

  img {
    margin: auto 0;
  }
}

.content {
  h1,
  h2 {
    font-family: $family-secondary;
  }
}

body > .container {
  margin-bottom: 10rem;

  @include until($desktop) {
    padding-left: 0.75rem;
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.owners-grid {
  display: block;
  text-align: center;
  word-wrap: break-word;

  img {
    display: block;
    width: 150px;
    margin: auto;
    max-width: 100%;
    height: auto;
  }
}

.navbar-img {
  width: 5vh;
}

#downloads {
  &-pro::after {
    content: "";
    display: inline-flex;
    position: relative;
    top: 0.25rem;
    margin: 0 0.5rem;
    background-image: url("/images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.75rem;
    width: 1.75rem;
  }

  &-college::after {
    content: "";
    display: inline-flex;
    position: relative;
    top: 0.25rem;
    margin: 0 0.5rem;
    background-image: url("/images/sicba-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.75rem;
    width: 1.75rem;
  }
}

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/media.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/pagination.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "@creativebulma/bulma-tooltip";
