@charset "utf-8";

//SIBA Brand Colors
$siba-blue: #3260a4;
$siba-link: #0f85ec;
$siba-link-visited: #760fec;

@use "bulma/sass/utilities/initial-variables" as iv;
@use "bulma/sass/utilities/derived-variables" as dv with (
  $primary: $siba-blue,
  $link: $siba-link,
  $family-primary: '"Maven Pro", sans-serif',
  $family-secondary: '"Secular One", sans-serif'
);

@use "bulma/sass/components/navbar" with (
  $navbar-item-img-max-height: none
);
@use "bulma/sass/components/modal" with (
  $modal-content-width: 820px
);
@use "bulma/sass/layout/footer" with (
  $footer-padding: 1.5rem
);

@use "bulma/sass/utilities/mixins";

@forward "bulma/sass/base";
@forward "bulma/sass/components/card";
@forward "bulma/sass/elements/button";
@forward "bulma/sass/elements/icon";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/elements/tag";
@forward "bulma/sass/grid/columns";
@forward "bulma/sass/layout/container";

@forward "bulma/sass/themes";

@import url("https://fonts.googleapis.com/css2?family=Secular+One&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");

html {
  position: relative;
  min-height: 100%;
}

body > .container {
  margin-bottom: 10rem;

  @include mixins.until(iv.$desktop) {
    padding-left: 0.75rem;
  }
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer-img {
  width: 3rem;
  padding: 0 0.5rem;
}

// a:not(.navbar-item, .navbar-link) {
//   &:link {
//     color: bulma.$link;
//     text-decoration: underline;
//   }

//   &:visited {
//     color: $siba-link-visited;
//   }

//   &:hover,
//   &:focus {
//     color: bulma.$primary;
//     border: 1px dashed bulma.$primary;
//   }
// }

// a.icon-link {
//   &:link {
//     text-decoration: none;

//     span.icon-text > span:not(.icon) {
//       border-bottom: 1px solid bulma.$link;
//     }
//   }

//   &:visited:not(:hover, :focus) {
//     span.icon-text {
//       color: $siba-link-visited !important;
//       > span:not(.icon) {
//         border-bottom: 1px solid $siba-link-visited;
//       }
//     }
//   }

//   &:hover,
//   &:focus {
//     span.icon-text > span:not(.icon) {
//       border-bottom: none;
//     }
//   }
// }

// .is-borderless {
//   border: none;
// }

// .card {
//   border: 1px solid bulma.$grey-lighter;

//   img {
//     margin: auto 0;
//   }
// }

// .content {
//   h1,
//   h2 {
//     font-family: bulma.$family-secondary;
//   }

//   ul + ol {
//     margin-top: 0.5em;
//   }

//   table {
//     width: 50% !important;
//   }

//   dt {
//     font-size: bulma.$size-4;
//     border-bottom: 1px solid bulma.$text;
//     margin-bottom: bulma.$size-6;
//   }

//   dd + dt,
//   dd + dd {
//     margin-top: bulma.$size-6;
//   }
// }

// .highlighted {
//   background-color: #d7e9f6;
// }

// .owners-grid {
//   display: block;
//   text-align: center;
//   word-wrap: break-word;

//   img {
//     display: block;
//     width: 150px;
//     margin: auto;
//     max-width: 100%;
//     height: auto;
//   }
// }

// #join .card {
//   .tabs ul {
//     border-bottom-color: transparent;

//     li {
//       &.is-active a {
//         border-bottom-color: white !important;
//       }

//       a:hover,
//       a:focus {
//         color: $siba-blue;
//         border: 1px dashed $siba-blue;
//       }
//     }
//   }
// }

// #downloads {
//   &-pro::after {
//     content: "";
//     display: inline-flex;
//     position: relative;
//     top: 0.25rem;
//     margin: 0 0.5rem;
//     background-image: url("/images/logo.svg");
//     background-size: contain;
//     background-repeat: no-repeat;
//     height: 1.75rem;
//     width: 1.75rem;
//   }

//   &-college::after {
//     content: "";
//     display: inline-flex;
//     position: relative;
//     top: 0.25rem;
//     margin: 0 0.5rem;
//     background-image: url("/images/sicba-logo.svg");
//     background-size: contain;
//     background-repeat: no-repeat;
//     height: 1.75rem;
//     width: 1.75rem;
//   }
// }
