//Fonts
@use "@fontsource/fira-sans-condensed";
@use "@fontsource/fira-sans";
@use "@fontsource-variable/phudu";

//SIBA Brand Colors
$blue: #3260a4;
$link: #0f85ec;
$link-visited: #760fec;

//SIBA Font Families
$font-primary: "Fira Sans", sans-serif;
$font-secondary: "Fira Sans Condensed", sans-serif;
$font-heading: "Phudu Variable", sans-serif;
