---
import discord from "@images/discord.svg";
import slack from "@images/slack.svg";
import twitter from "@images/twitter-x.svg";
import youtube from "@images/youtube.svg";
import SocialLink from "@components/SocialLink.astro";

const currentYear = new Date().getFullYear();
const copyright = `2018–${currentYear}`;
---

<footer class="footer has-text-centered">
  <p class="is-size-5 mb-2">Join our community!</p>
  <div class="is-flex is-justify-content-center is-align-items-center">
    <SocialLink
      href="https://discord.gg/ZkH4mzRkrm"
      brand="discord"
      alt="Discord"
    />
    <SocialLink
      href="https://www.youtube.com/@siba_aisn"
      brand="youtube"
      alt="YouTube Channel"
      color="#282828"
    />
    <SocialLink
      href="https://twitter.com/SIBA_AveryINC"
      brand="x-twitter"
      alt="Twitter (X)"
    />
  </div>
  <p class="mt-4 is-size-7">
    &copy; {copyright} Avery Incorporated
  </p>
</footer>
