---
import "@styles/calendar.scss";
import { getEntry } from "astro:content";
import clsx from "clsx";
import { capitalize } from "lodash-es";
import { collegeLegend } from "@components/EventCalendar/Legend.astro";

const periods = collegeLegend.filter((cl) => !!cl.details);
---

<h3>Recruiting Period Definitions</h3>
<div class="columns is-desktop">
  {
    periods.map(({ type, title, details = [] }) => (
      <div class="column is-one-fifth">
        <div
          class={clsx("tag is-medium", `event-${type}`)}
          style="width: 100%;"
        >
          {title ?? capitalize(type)}
        </div>
        <ul>
          {details.map((d) => (
            <li>{d}</li>
          ))}
        </ul>
      </div>
    ))
  }
</div>
