---
import AllArticles from "@components/articles/AllArticles";
import Layout from "@layouts/BaseLayout.astro";
import { Tag } from "@lib/global.d";
import { getDataFromApi } from "@lib/utils";
import { sortBy } from "lodash-es";
const title = "League News Articles";

const leagueTags = [{ name: "Pro" }, { name: "College" }];
const strapiTags = await getDataFromApi<Array<Tag>>(
  `${import.meta.env.PUBLIC_CMS_URL}/tags`
);
const allTags = sortBy(strapiTags.concat(leagueTags), ["name"]);
---

<Layout content={{ title: title }}>
  <section class="content">
    <h1>{title}</h1>
  </section>
  <AllArticles tags={allTags} client:idle />
</Layout>
