---
import { getEntry } from "astro:content";
import clsx from "clsx";
import { capitalize } from "lodash-es";
import "@styles/calendar.scss";

export type Props = {
  league: "pro" | "college";
};

const { league } = Astro.props as Props;
const {
  data: { legend },
} = await getEntry("calendar", league);
---

<div class="tags are-medium">
  {
    legend.map(({ type, label }) => {
      const eventClass = `events-${type}`;
      const eventLabel = label ?? capitalize(type);
      return (
        <span class={clsx(eventClass, "tag is-medium")}>{eventLabel}</span>
      );
    })
  }
</div>
