---
import Nav from "@components/utils/layout/Nav";
import Footer from "@components/utils/layout/Footer.astro";
import clsx from "clsx";
import "@styles/main.scss";

const { content, fullWidth } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <title>{content.title} | SIBA</title>

    <script>
      var _paq = (window._paq = window._paq || []);
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
      (function () {
        var u = `${import.meta.env.PUBLIC_ANALYTICS_URL}`;
        _paq.push(["setTrackerUrl", u + "matomo.php"]);
        _paq.push(["setSiteId", `${import.meta.env.PUBLIC_ANALYTICS_SITE_ID}`]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.async = true;
        g.src = u + "matomo.js";
        s.parentNode && s.parentNode.insertBefore(g, s);
      })();
    </script>
    <script
      src="https://kit.fontawesome.com/205447cb05.js"
      crossorigin="anonymous"></script>
  </head>
  <body class="has-navbar-fixed-top">
    <Nav client:load />
    <main>
      <div class={clsx(!fullWidth && "container is-max-widescreen mt-2")}>
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
