---
import { Content as Intro } from "@components/indexIntro.md";
import Layout from "@layouts/BaseLayout.astro";
---

<Layout content={{ title: "Welcome" }}>
  <section class="content">
    <h1>Welcome</h1>
    <Intro />
  </section>
</Layout>
