---
import BaseLayout from "@layouts/BaseLayout.astro";
const { content } = Astro.props;
---

<BaseLayout content={{ title: content.title }}>
  <article class="content">
    <h1>{content.title}</h1>
    <slot />
  </article>
</BaseLayout>
